<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('partials/head')%>
    </head>
    <body>
        <main>
            <section class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis fuga, harum ipsam cupiditate aliquid eos! Quos, corrupti quidem aliquid ducimus praesentium cum aliquam consequatur, ea voluptatibus placeat exercitationem doloremque. Quidem nam doloribus magnam atque esse, dignissimos alias sed dicta, aspernatur incidunt sequi molestias necessitatibus iure ipsam, assumenda dolorem optio voluptatibus eaque deserunt! Accusantium similique nobis voluptates tempora impedit repudiandae esse, adipisci ratione tempore, labore veritatis atque eum reiciendis? Voluptas id neque consectetur eveniet a minima dolores omnis laudantium praesentium accusantium, quia ratione, culpa voluptatum non voluptatem quae sit nesciunt voluptatibus adipisci? Possimus, quos! Debitis architecto expedita dicta cum illum? Dolorum deleniti explicabo itaque impedit excepturi iure porro sapiente molestiae, culpa consequatur officia doloribus, minima natus autem accusantium ab quia voluptates laudantium eligendi voluptate? Omnis quasi ducimus quae ipsam soluta maxime, culpa veniam eum? Aperiam a quas rerum, optio labore pariatur reiciendis, veniam itaque, qui cum accusantium ad vero commodi rem. Rerum doloremque neque dolore, vitae cupiditate facilis. Natus optio reiciendis, commodi et consequatur placeat sed illo laudantium odio alias ad tempore eaque officia quas iure est dicta hic omnis. Architecto quod, consequatur odio eligendi consequuntur voluptates iste quibusdam officia repellat vel repellendus inventore, nihil voluptate perferendis aperiam facere laborum, ipsa id nobis? Nostrum harum quae modi ducimus sunt. Voluptatibus consequuntur explicabo eaque eum! Vitae voluptatem sapiente dicta neque voluptate perspiciatis praesentium reiciendis corporis magni adipisci culpa ab consequatur nam hic, illo aliquam eligendi ipsa molestiae a iste? Quos mollitia esse blanditiis. Eaque adipisci pariatur dolor accusantium suscipit deleniti voluptatem fuga explicabo architecto! Vero inventore, cum veritatis incidunt beatae, nulla impedit adipisci unde maiores alias laudantium et! Fugiat quis fugit eaque id qui? Suscipit officiis quisquam, aliquam culpa molestiae minus omnis amet facilis sequi ut ad odit accusantium commodi mollitia inventore voluptatem dolore perspiciatis voluptatibus consequuntur adipisci soluta, quam, harum est.</p>
            </section>
        </main>
        
    </body>
</html>
<h2>About this project</h2>